@import "../../../styles/settings.scss";

.root {
  @include flex(center, center);
  .container {
    margin: 5rem 0;
    @include flex(center,center);
    flex-wrap: wrap;
  }
  h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: uppercase;
    color: $primary;
    text-shadow: 2px 2px 2px $main-dark;
  }
  img {
    width:10rem;
  }
  form {
    width: 30rem;
    @include flex(center,center);
    flex-wrap: wrap;
    div {
      width: 100%;
      text-align: center;
      margin: .5rem 0;
      input {
        height: 2.5rem;
        text-align: center;
        &:focus {
          outline-color: $primary;
          transform: scale(1.1);
        }
      }
    }
    button {
      width: 30%;
      height: 2.3rem;
      background: $primary;
      color: $main-white;
      &:hover {
        background: $primary-dark;
      }
    }
  }
  .descrip {
    width: 100%;
    text-align: center;
    .register {
      background: none;
      border: none;
      color: $primary;
      font-size: 1.1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
