@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
  .content {
    height: auto;
    .noProduct {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      width: 100%;
      height: 100%;
      p {
        margin: 15rem 0;
        font-size: 2rem;
        text-align: center;
        color: $main-grey;
      }
    }
  }
}
