@import "../../../styles/settings.scss";

.root {
  background-color: $white;
  margin: 0 0 30px 0;

  :global(.container) > :global(.row) {
    height: auto;
  }

  .wrapper {
    border-top: 1px solid $milk;
    border-bottom: 1px solid $milk;
    padding: 30px 0 30px 0;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    position: relative;

    .brandsParent {
      overflow: hidden;
    }

    .brandsChild {
      display: flex;
      transition-duration: 500ms;

      .image {
        border: 1px solid $milk;
        width: 100%;
        height: 100%;
        margin: 0 20px 0 20px;

        img {
          width: 120px;
          height: 70px;
          display: block;
        }
      }
    }

    .button {
      min-width: 25px;
      height: 70px;
      background-color: black;
      align-items: center;
      position: relative;
      border-radius: 10%;
      cursor: pointer;
      &:hover .arrow {
        color: $primary
      }

      .arrow {
        @include center();
        color: $white;
        transition: $main-transition;
      }
    }

    .button.buttonTwo {
      position: absolute;
      right: 0;
    }


    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      flex-grow: 1;
      list-style-type: none;

      li {
        width: 100px;
        height: 70px;
        border: 1px solid $milk;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5px 0 5px 0;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .root .wrapper {
    padding: 15px 0 15px 0;
  }
 }
