
.changeColor {
  animation-name: changeColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.happyHourAnimation {
    animation-name: happyHourAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

.happyHour {
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 0 0 80px #17DAA3;
  background-color: rgba(23, 218, 163, 0.2);
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}

@keyframes happyHourAnimation { 
  0% {
    background-color: rgba(45, 99, 83, 0.63)
  }
  50% {
    background-color: rgba(42, 243, 183, 0.712);
    border-color: #fff;
  }
  100% {
    background-color: rgba(43, 177, 132, 0.575);  }
}